<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amnapp.defsdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_defs"
        android:label="DEFS"
        android:roundIcon="@mipmap/ic_defs_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OuterSearchActivity">
        </activity>
        <activity
            android:name=".OuterExampleSentenceActivity"
            android:label="@string/DEFS예문등록"
            android:icon="@drawable/ic_defs">
            <intent-filter
                android:label="@string/DEFS예문등록">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VocanotesSearchActivity"
            android:theme="@style/customPopupTheme" />
        <activity
            android:name=".OuterMeaningActivity"
            android:label="@string/DEFS뜻등록"
            android:icon="@drawable/ic_defs">
            <intent-filter
                android:label="@string/DEFS뜻등록">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VocanotesContentDialogActivity"
            android:theme="@style/customPopupTheme" />
        <activity
            android:name=".EditVocanotesActivity"
            android:label="@string/DEFS표제어등록"
            android:icon="@drawable/ic_defs">
            <intent-filter
                android:label="@string/DEFS표제어등록">
                <action android:name="android.intent.action.PROCESS_TEXT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".TextReaderActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/html" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/xml" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>